.app {
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  color: white;
  height: 100vh;
  
}

.logo {
  height: 25vmax;
}

.App-header {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.header-text {
  margin-top: 2vh;
  font-size: 2em;
}

.signup-form {
  border: 1px solid blue;
}

.test {
  padding: 20px;
  border: 1px solid red;
}

